* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 137, 9);
}

.contenido {
  position: relative;
  margin: 50px;
  top: 100px;
  width: 500px;
  height: 550px;
  background: linear-gradient(black, black, black, transparent);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecera {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.cabecera h2 {
  font-size: 2em;
  color: white;
  margin: 0;
}

.cabecera .in {
  color: black;
  background-color: orange;
  padding: 0 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.inputs {
  position: relative;
  width: 310px;
  margin: 30px 0px;
  border-bottom: 2px solid white;
}

.inputs label {
  position: absolute;
  top: 50%;
  left: 35px; /* Ajusta el label para dejar espacio para el icono */
  transform: translateY(-50%);
  font-size: 1em;
  color: white;
  pointer-events: none;
  transition: 0.3s;
}

/* -------------------------------------------------------------------------------- */

/* aplica el efecto cuando el usuario está escribiendo en el input */
.inputs input:focus ~ label,

/* aplica el efecto cuando el input tiene un valor válido (como un correo electrónico en el caso del email */
.inputs input:valid ~ label,

/* aplica los estilos al label cuando el input no está vacío. Funciona bien junto con required, ya que si el input está vacío, :placeholder-shown será verdadero. */
.inputs input:not(:placeholder-shown) ~ label {
  top: -5px;
  font-size: 0.85em;
  color: #ccc;
}

/* -------------------------------------------------------------------------------- */

.inputs input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: white;
  padding: 0px 5px 0px 35px;
}

.inputs i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.2em;
}
.registrarte a {
  color: white;
  text-decoration: none;
}
.registrarte a:hover {
  color: orange;
  transition: 0.8s;
}

button {
  width: 100%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.registrarte {
  font-size: 0.9em;
  color: white;
  text-align: center;
  margin: 25px 0px 10px;
}

img {
  display: none;
}

/* Nueva clase para mostrar la imagen en pantalla completa */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Para que la imagen cubra completamente sin deformarse */
  z-index: 9999; /* Asegura que esté al frente de todos los elementos */
  display: block; /* Asegura que la imagen sea visible cuando se agrega esta clase */
}
