body {
  background-image: url(/assets/img/space.jpg);
  background-size: cover;
}

.titulo {
  font-size: 40px;
  color: #91fef0;
  text-shadow:0 0 5px #39ff14, 0 0 10px #39ff14; 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 11px;
  background-color: #262626;
  padding: 10px;
  border-radius: 7px;
  border-color: #91fef0; /* Verde neón */ 
  box-shadow: 0 0 5px #91fef0, 0 0 10px #91fef0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 400px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img/metal.jpg);
  border-top: 10px solid #f2f2f2;
  border-left: 10px solid #d7d7d7;
  border-right: 10px solid #d7d7d7;
}

.flag-box,
.timer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 75px;
  background: #262626;
  border: 5px solid;
  border-color: #9ea2a2 #9ea2a2 #f9f9f9 #f9f9f9;
  color: #ff7f11;
}

.botonCentral {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 75px;
  margin: 0 20px 0 20px;
  padding-top: 5px;
  background-image: url(/assets/img/metal.jpg);
  border: 5px solid;
  border-color: #9ea2a2 #9ea2a2 #f9f9f9 #f9f9f9;
  outline: none;
  font-size: 2.1em;
  cursor: pointer;
}

.grid {
  width: 400px;
  height: 400px;
  max-width: 400px;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-image: url(/assets/img/metal.jpg);
  /* overflow: hidden; Evita desbordamientos */
}

.grid div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box; /* Asegura que el tamaño total incluye el borde */
}

.valid, 
.bomb { 
  height: 40px; 
  width: 40px; 
  border: 5px solid; 
  border-color: #91fef0; /* Verde neón */ 
  box-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14; /* Efecto de brillo */ 
  box-sizing: border-box; 
}  

.checked {
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #262626;
  border-color: #7c8a76;
  box-sizing: border-box;
}

.one {
  color: #4299e1;
}

.two {
  color: #48bb78;
}

.three {
  color: #f56565;
}

.four {
  color: #9f7aea;
}
