@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #005e3ab4;
  height: 100vh;
}

li,
a,
h1,
button {
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

header {
  display: flex;

  /*Space between hace que cuando tengas dos links por ejemplo,
  estos se vayan a los bordes del contenedor, o si tienes 3,
  uno se quedara justo en el centro y los otros dos en los bordes*/
  justify-content: space-between;
  align-items: center;

  /*Pruebo a poner porcentajes a ver si asi no se vuelve loco*/
  padding: 20px 2%;
  background-color: #2e2d2d;
}

.logo {
  width: 200px;
  height: 50px;
  object-fit: contain;
  border-radius: 100px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline;
  padding: 0 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: rgb(0, 139, 0);
}



button {
  padding: 9px 25px;
  background-color: #008b00;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #008b78cc;
}

/*A partir de aqui el codigo de quien haga styles-------------------*/

/* Divs*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 6%  auto;
  max-width: 700px;
  min-width: 600px;
}

.juego1, .juego2, .tienda {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2d2d;
  margin: 20px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
}

.juego1:hover,.juego2:hover, .tienda:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.tienda{
  width: 600px;
  height: 200px;
}



/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:#2e2d2d ;
  
}