body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #3f7d5c;
  margin: 0;
  padding: 0;
}

/* Estilos para la tienda */
.store {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 20px;
  background-color: #222222e6;
  border-radius: 15px;
  margin: 80px auto;
  width: 80%;

}

.product {
  background: linear-gradient(135deg, #0a7400, #001d02);
  color: white;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 350px;
}

.product:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);

}

.product img {
  width: 150px;
  border-radius: 10px;
  margin-bottom: 15px;

}

.product h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;

}

.product p {
  font-size: 1.2rem;
  margin-bottom: 15px;

}

.product button {
  background-color: #008000;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;

}

.product button:hover {
  background-color: #006400;

}

buttonCarrito {
  color: red;
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;

}

/* Estilos para el carrito de compras */
.cart-container {
  background: linear-gradient(135deg, #ffffff, #b4b4b4);
  color: #333;
  border-radius: 15px;
  padding: 25px;
  width: 300px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#cart {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  max-height: 250px;
  overflow-y: auto;

}

#cart li {
  background-color: #c4c3c3;
  color: black;
  border-radius: 8px;
  padding: 7px;
  margin-bottom: 10px;
  font-size: 0.7rem;
  font-weight: bold;

}

.total-price {
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.mostrar_precio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mostrar_precio span {
  margin-left: 10px;
}

.checkout-btn,
#openInventory {
  background-color: #008000;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover,
#openInventory:hover {
  background-color: #006400;
}

/* Estilos para el perfil */
#profile {
  background: linear-gradient(135deg, #999999, #2e2e2e);
  color: white;
  border-radius: 15px;
  padding: 25px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  float: right;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;

}

#profile p {
  font-size: 1.2rem;
  margin-bottom: 10px;

}

.buttonCarrito {
  color: red;
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
  background: none;
  border: none;
}

#inventory {
  position: fixed; /* Posición fija para que se pueda mover */
  top: 50px; /* Posición inicial */
  left: 50px; /* Posición inicial */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  cursor: grab; /* Cursor para indicar que es arrastrable */
  user-select: none; /* Evitar que el texto se seleccione al arrastrar */
}

#inventoryList {
  list-style-type: none;
  padding: 0;
}

#inventoryList li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#inventoryList li {
  color: black;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

#toggle-audio{
  position: absolute;
  top: 110px;
  right: 10px;
  cursor: pointer;
  background-image: url(/assets/img/bombaahmad.webp);
  color: #ffffff;
  text-shadow: 0 0 5px #0059ff, 0 0 10px #0059ff;
  border-color: #000000;
  box-shadow: 0 0 5px #000000, 0 0 10px #000000;
}


.toast.show {
  visibility: visible;
  opacity: 1;
}

.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.close-btn:hover {
  background-color: rgba(255, 0, 0, 0.9);
  transform: scale(1.1);
}


.logout-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:rgba(255, 0, 0, 0.7); 
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-btn::before{
  content: "🚪 "; 
}

.logout-btn:hover {
  background-color: rgba(255, 0, 0, 0.9); 
  transform: scale(1.05); 
}

.logout-btn:active {
  transform: scale(0.95);
}